<ion-header padding-top>
  <ion-toolbar color="primary">
    <ion-title>Criar Client</ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text>Fechar</span>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
  
  
  <ion-content padding>
    <ion-list>
      <ion-item>
        <ion-label floating>Nome</ion-label>
        <ion-input type="text" maxlength="23" [(ngModel)]="client.name"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label floating>Endereço</ion-label>
        <ion-input type="text" [(ngModel)]="client.address"></ion-input>
      </ion-item>
    </ion-list>
  
    <button ion-button outline block (click)="create()">Criar Cliente</button>
  </ion-content>