<!--
  Generated template for the CreditPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Enviar Crédito</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list no-lines>
    <ion-item *ngIf="client">
      <ion-label>Agência</ion-label>
      <ion-label>{{client.agency}}</ion-label>
    </ion-item>
    <ion-item *ngIf="client">
      <ion-label>Conta</ion-label>
      <ion-label>{{client.account}}</ion-label>
    </ion-item>
  </ion-list>
  <ion-list >
    <ion-item>
      <ion-label floating >Agência</ion-label>
      <ion-input type="number" [(ngModel)]="input.agency"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating >Conta</ion-label>
      <ion-input type="number" [(ngModel)]="input.account"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating >Valor R$</ion-label>
      <ion-input type="number" [(ngModel)]="input.value"></ion-input>
    </ion-item>
  </ion-list>

  <button ion-button outline block (click)="confirmDestiny()">Confirmar</button>
</ion-content>
