<ion-header padding-top>
  <ion-toolbar color="primary">
    <ion-title>Criar Conta</ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text>Fechar</span>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
  
<ion-content padding>
  <ion-list >
    <ion-item>
      <ion-label floating>Documento</ion-label>
      <ion-input type="number" [(ngModel)]="user.identity_document"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Telefone</ion-label>
      <ion-input type="tel" [(ngModel)]="user.phone"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Senha</ion-label>
      <ion-input type="password" [(ngModel)]="user.password"></ion-input>
    </ion-item>
  </ion-list>
  <button ion-button outline block (click)="register()">Registrar</button>
</ion-content>
  